/* header part */
header {
    width: 1320px;
    height: 600px;
    font-family: 'Merriweather', serif;
    background-image: url(../resources/Banner\ Image.png);
    background-position: center;
    background-repeat: no-repeat;
    margin: 50px 100px 100px 100px;
    color: #FFF;

}

.banner {

    text-align: center;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    position: relative;
}

.new-year {
    padding-top: 177px;
    font-size: 32px;
    font-weight: 400;
    line-height: normal;
}

.year-party {
    margin-left: 344px;
    width: 632px;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}

/* Main Body */
.discount {
    font-family: 'Inter', sans-serif;
    align-items: center;
    text-align: center;
    background: #FFF;
    margin-top: 120px;
}

.dis-off {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}

.dis-moto {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.dis-categories {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}

.dis-img {
    fill: url(<path-to-image>), lightgray 50%
}

/*section-2*/
.midnight-party {
    display: flex;
}

.welcome-title {
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    background-image: url(../resources/Vectorrr.png);
    background-repeat: no-repeat;
    fill: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    /* margin-top: 100px; */
    margin: 100px 0px 140px 140px;
}

.img-24 {
    display: flex;
    width: 319.83px;
    height: 464.662px;
    padding: 0.008px 0px 0px 0px;
    flex-direction: column;
    justify-content: center;
}

/*section-3*/
.ticket {
    padding: 130px;
    width: 1320px;
    height: 482px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FF0000, #FF000000;
    fill: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    margin: 130px 0;
    text-align: center;

}

.date-time-place {
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}


.time-red {
    color: #F00;
}

.red-btn {
    /* display: inline-flex; */
    padding: 16px 32px;
    color: #FFF;
    text-align: center;
    font-weight: 700;
    justify-content: center;
    gap: 5px;
    border-radius: 8px;
    background: #F00;
}